<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
      <h1 class="text-capitalize mb-4">
        please enter your Email to get verification code
      </h1>
      <form
        [formGroup]="forgetForm"
        (ngSubmit)="forget(forgetForm)"
        class="forget-form"
      >
        <div class="form font-sm position-relative mt-3">
          <input
            formControlName="email"
            id="userEmail"
            class="form-control font-sm fw-bolder"
            type="email"
          />
          <label
            for="userEmail"
            class="d-block px-2 position-absolute forget-lable py-3"
            >Email</label
          >
        </div>
        <div
          *ngIf="
            forgetForm.controls['email'].errors &&
            forgetForm.controls['email'].touched
          "
          class="text-danger font-sm"
        >
          <p *ngIf="forgetForm.controls['email'].getError('required')">
            Email is required
          </p>
          <p *ngIf="forgetForm.controls['email'].getError('email')">
            invalid Email
          </p>
        </div>
        <button
          [disabled]="isloaded || forgetForm.invalid"
          class="btn bor-btn font-md text-capitalize px-4 py-2 mt-3"
        >
          submit
          <i *ngIf="isloaded" class="fa-solid fa-spinner fa-spin"></i>
        </button>
        <div *ngIf="forgetForm.valid" class="text-center mt-3">
          <p *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
          </p>
          <p *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
