<owl-carousel-o [options]="customOptions" class="position-relative">
  <ng-template carouselSlide>
    <img
      height="500"
      src="./assets/images/slider-image-1.jpeg"
      alt=""
      class="w-100 slide fit-image"
    />
    <div
      class="layout position-absolute top-0 start-0 w-100 d-flex justify-content-center align-items-center"
    >
      <div class="">
        <h2 class="text-white fw-bolder h1">
          Welcome to our international shop!
        </h2>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <img
      height="500"
      src="./assets/images/slider-image-2.jpeg"
      alt=""
      class="w-100 slide"
    />
    <div
      class="layout position-absolute top-0 start-0 w-100 d-flex justify-content-center align-items-center"
    >
      <div class="">
        <h2 class="text-white fw-bolder h1">
          Welcome to our international shop!
        </h2>
      </div>
    </div></ng-template
  >
  <ng-template carouselSlide>
    <img
      height="500"
      src="./assets/images/slider-image-3.jpeg"
      alt=""
      class="w-100 slide"
    />
    <div
      class="layout position-absolute top-0 start-0 w-100 d-flex justify-content-center align-items-center"
    >
      <div class="">
        <h2 class="text-white fw-bolder h1">
          Welcome to our international shop!
        </h2>
      </div>
    </div></ng-template
  >
</owl-carousel-o>
