<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
      <h1 class="text-capitalize mb-4">update the password</h1>
      <form
        [formGroup]="updateForm"
        (ngSubmit)="forget(updateForm)"
        class="forget-form"
      >
        <div class="form font-sm position-relative mt-3">
          <label
            for="usercurrentpassword"
            class="d-block forget-lable py-2 fw-bold text-capitalize"
            >current Password</label
          >
          <input
            formControlName="currentPassword"
            id="usercurrentpassword"
            class="form-control font-sm fw-bolder"
            type="password"
          />
        </div>
        <div
          *ngIf="
            updateForm.controls['currentPassword'].errors &&
            updateForm.controls['currentPassword'].touched
          "
          class="text-danger font-sm mb-3"
        >
          <p
            *ngIf="updateForm.controls['currentPassword'].getError('required')"
          >
            is required
          </p>
          <p
            *ngIf="updateForm.controls['currentPassword'].getError('minlength')"
          >
            minimum length is 8
          </p>
          <p *ngIf="updateForm.controls['currentPassword'].getError('pattern')">
            At least one upper ,one lower,one digit
          </p>
        </div>
        <div class="form font-sm position-relative mt-3">
          <label
            for="usernewpassword"
            class="d-block forget-lable py-2 fw-bold text-capitalize"
            >new Password</label
          >
          <input
            formControlName="password"
            id="usernewpassword"
            class="form-control font-sm fw-bolder"
            type="password"
          />
        </div>
        <div
          *ngIf="
            updateForm.controls['password'].errors &&
            updateForm.controls['password'].touched
          "
          class="text-danger font-sm mb-3"
        >
          <p *ngIf="updateForm.controls['password'].getError('required')">
            is required
          </p>
          <p *ngIf="updateForm.controls['password'].getError('minlength')">
            minimum length is 8
          </p>
          <p *ngIf="updateForm.controls['password'].getError('pattern')">
            At least one upper ,one lower,one digit
          </p>
        </div>
        <div class="form font-sm position-relative mt-3">
          <label
            for="usernewrepassword"
            class="d-block forget-lable py-2 fw-bold text-capitalize"
            >re-Password</label
          >
          <input
            formControlName="rePassword"
            id="usernewrepassword"
            class="form-control font-sm fw-bolder"
            type="password"
          />
        </div>
        <div
          *ngIf="
            updateForm.controls['password'].value !=
              updateForm.controls['rePassword'].value &&
            updateForm.controls['rePassword'].touched
          "
          class="text-danger font-sm mb-3"
        >
          <p *ngIf="updateForm.controls['rePassword'].getError('required')">
            is required
          </p>

          <p
            *ngIf="
              updateForm.controls['password'].value !=
                updateForm.controls['rePassword'].value &&
              !updateForm.controls['rePassword'].getError('required')
            "
          >
            not matched password
          </p>
        </div>
        <button
          [disabled]="
            isloaded ||
            updateForm.invalid ||
            updateForm.controls['password'].value !=
              updateForm.controls['rePassword'].value
          "
          class="btn bor-btn font-md text-capitalize px-4 py-2 mt-3"
        >
          submit
          <i *ngIf="isloaded" class="fa-solid fa-spinner fa-spin"></i>
        </button>
        <div *ngIf="updateForm.valid" class="text-center mt-3">
          <p *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
